<!DOCTYPE html>
<html lang="es">
  
<body>

<!-- Botones -->
<div style="text-align: center; margin-top: 50px;">
  <a href="https://AlanValdevenito.github.io/index" style="text-decoration: none; margin: 10px;">
    <button style="padding: 10px 20px;">Inicio</button>
  </a>
  
  <a href="https://AlanValdevenito.github.io/proyecto" style="text-decoration: none; margin: 10px;">
    <button style="padding: 10px 20px;">Proyecto</button>
  </a>
  
  <a href="https://AlanValdevenito.github.io/descargar" style="text-decoration: none; margin: 10px;">
    <button style="padding: 10px 20px;">Descargar</button>
  </a>
</div>

</body>
</html>
